<form>

  <div class="form-group">
    <label for="inputTag">Tag</label>
    <input type="text" class="form-control" id="inputTag" placeholder="tag" [disabled]>
  </div>
  <div class="form-group">
    <label for="inputUrl">URL</label>
    <input type="text" class="form-control" id="inputUrl" placeholder="url" [disabled]>
  </div>
  <div class="form-group">
    <label for="inputDescriptions">Descriptions</label>
    <textarea class="form-control" id="inputDescriptions" [disabled]></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Delete</button>
</form>
